
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.header {
	background-color: #482E74;
	height: 200px;
}

.header .titre {
	font-size: 96px;
	color: black;
	margin: 0;
	font-family: Oregano;
}

.btn-custom {
	background-color: rgba(125, 130, 176, 0.5);
	/*margin: 5px;*/
}

.btn-custom:hover{
	background-color: rgba(158, 164, 218, 0.5);
}

.btn-custom-2{
	background-color: #8D79AE;
}

.btn-nav{
	margin: 0.5em;
	border-radius: 0;
}



.body {
	margin-top: 50px;
}

.jumbotron {
	background-color: #8D79AE;
}

.premier {
	margin-top: 30px ;
	padding: 32px 16px;
}

.second {
	margin-top: 30px;
	background-color: rgba(125, 130, 176, 0.5);
	padding: 32px 16px;

}

@font-face {
	font-family: Oregano;
	src: url(oregano.ttf);
  }